<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Move Raver with Dagu 5 with RaspberryPi and Arduino">
    <meta name="author" content="Marco Berri">
     <title>RaspiRoverDuino</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

<script>

	function addLog(msg){
		$("#myDivResult").append("<tr><td>" + new Date().toUTCString() + "</td><td>" + JSON.stringify(msg) + "</td></tr>");
	}
	
	
	function send(op,url){
		$.ajax({
		  type: "POST",
		  url: url + op,
		  data: { }
		})
		  .done(function( msg ) {
			addLog(msg);
		  });
	
	}
	
	function sendCamData(op){
		return send(op,"http://192.168.1.12:3000/cam/");
	}


	function sendData(op){
		return send(op,"http://192.168.1.12:3000/move/");
	}

</script>


	</head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">RaspiRoverDuino</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- li class="active"><a href="#">Home</a></li-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

  	  <div class="row" style="margin-top:80px;">
		  <div class="col-md-4">
			<form>
	
				<h3>Move</h3>
				<table class="table table-condensed">
					<tr><td>&nbsp;</td><td><input class="btn btn-success" onClick="sendData('forward');" style="height:50px;width:100px;" type="button" name="FORWARD" value="FORWARD"/></td><td>&nbsp;</td></tr>
					<tr><td><input class="btn btn-success" onClick="sendData('left');" style="height:50px;width:100px;" type="button" name="LEFT" value="LEFT"/></td>
					<td><input class="btn btn-danger" onClick="sendData('stop');" style="height:50px;width:100px;" type="button" name="STOP" value="STOP"/></td>
					<td><input class="btn btn-success" onClick="sendData('right');" style="height:50px;width:100px;" type="button" name="RIGHT" value="RIGHT"/></td></tr>
					<tr><td>&nbsp;</td><td><input class="btn btn-success" onClick="sendData('back');" style="height:50px;width:100px;" type="button" name="BACK" value="BACK"/></td><td>&nbsp;</td></tr>
				</table>

				<h3>Cam</h3>
				<table class="table table-condensed">
					<tr><td>&nbsp;</td><td><input class="btn btn-success" onClick="sendCamData('up');" style="height:50px;width:100px;" type="button" name="UP" value="UP"/></td><td>&nbsp;</td></tr>
					<tr><td><input class="btn btn-success" onClick="sendCamData('left');" style="height:50px;width:100px;" type="button" name="LEFT" value="LEFT"/></td>
					<td><input class="btn btn-danger" onClick="sendCamData('reset');" style="height:50px;width:100px;" type="button" name="RESET" value="RESET"/></td>
					<td><input class="btn btn-success" onClick="sendCamData('right');" style="height:50px;width:100px;" type="button" name="RIGHT" value="RIGHT"/></td></tr>
					<tr><td>&nbsp;</td><td><input class="btn btn-success" onClick="sendCamData('down');" style="height:50px;width:100px;" type="button" name="DOWN" value="DOWN"/></td><td>&nbsp;</td></tr>
				</table>

			</form>
			
			<table class="table table-condensed" id="myDivResult">
			
			</table>

			</div>

		
		<div class="col-md-8">
			<img src="http://192.168.1.12:9000/?action=stream" />
		</div>
  	</div>

    </div><!-- /.container -->

    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>