<html>
<head>
<script src="http://code.jquery.com/jquery-1.9.0.js"></script>

<script>

function sendData(op){
$.ajax({
  type: "POST",
  url: "http://192.168.1.12:3000/move/" + op,
  data: { }
})
  .done(function( msg ) {
    alert( "Data Saved: " + msg );
  });
}

</script>
</head>
<body>
<h1>Test Page</h1>
<br/><br/><br/>


<form>

	<table>
		<tr><td>&nbsp;</td><td><input onClick="sendData('forward');" style="height:50px;width:100px;" type="button" name="FORWARD" value="FORWARD"/></td><td>&nbsp;</td></tr>
		<tr><td><input onClick="sendData('left');" style="height:50px;width:100px;" type="button" name="LEFT" value="LEFT"/></td>
		<td><input onClick="sendData('stop');" style="height:50px;width:100px;" type="button" name="STOP" value="STOP"/></td>
		<td><input onClick="sendData('right');" style="height:50px;width:100px;" type="button" name="RIGHT" value="RIGHT"/></td></tr>
		<tr><td>&nbsp;</td><td><input onClick="sendData('back');" style="height:50px;width:100px;" type="button" name="BACK" value="BACK"/></td><td>&nbsp;</td></tr>
	</table>

</form>
</body>
</html>
