<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rover with Dagu 5 with RaspberryPi and Arduino">
    <meta name="author" content="Marco Berri">
     <title>RaspiRoverDuino</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

<script src="/socket.io/socket.io.js"></script>

<script>
	var socket = io.connect('<%=config.web.host%>');

	socket.on('log', function(data) {

		var d = new Date();
		var curr_date = d.getDate();
		var curr_month = d.getMonth() + 1; //Months are zero based
		var curr_year = d.getFullYear();
		var curr_hours = d.getHours();
		var curr_sec = d.getSeconds();
		var curr_min = d.getMinutes();


		if(data.error && data.error != ""){
			$('#myTable tr:first').after('<tr class="danger"><td><small>'+data.type+'</small></td><td><small>'+curr_year+'-' + curr_month + '-' + curr_date + ' ' + curr_hours + ':' + curr_min + ':' + curr_sec + '</small></td><td><small>'+data.calling+'</small></td><td><small>'+data.message+'</small></td><td><small>'+data.error+'</small></td></tr>');
		}else{
			$('#myTable tr:first').after('<tr class="success"><td><small>'+data.type+'</small></td><td><small>'+curr_year+'-' + curr_month + '-' + curr_date + ' ' + curr_hours + ':' + curr_min + ':' + curr_sec + '</small></td><td><small>'+data.calling+'</small></td><td><small>'+data.message+'</small></td><td><small>-</small></td></tr>');
		}

	});  

	socket.on('mpu6050', function(data) {
		var message = data.message;
		$('#accx').val(message[0]);	
		$('#accy').val(message[1]);	
		$('#accz').val(message[2]);	

		$('#motx').val(message[3]);	
		$('#moty').val(message[4]);	
		$('#motz').val(message[5]);	

	});
	
	function sendCamData(op){
		socket.emit('/cam/' +op);
	};

	function sendData(op){
		socket.emit('/move/' + op);
	};

	function sendSystemData(op){
		if(op == 'check'){
			bootbox.confirm("remove the tracks before proceeding!", function(result) {
				if(result == true || result == 'true'){
					socket.emit('/system/' + op);
				}
			});
		}
	};
	

	var mpu6050 = setInterval(function(){getMpu6050()},1000);

	function getMpu6050() {
		socket.emit('/mpu6050/getMotion');
	};

</script>


	</head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">RaspiRoverDuino</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- li class="active"><a href="#">Home</a></li-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

  	  <div class="row" style="margin-top:80px;">
		  <div class="col-md-4">
			<form>
	
				<h3>Move</h3>
				<table class="table table-condensed">
					<tr><td>&nbsp;</td><td><input class="btn btn-success  btn-block" onClick="sendData('forward');"  type="button" name="FORWARD" value="FORWARD"/></td><td>&nbsp;</td></tr>
					<tr><td><input class="btn btn-success  btn-block" onClick="sendData('left');" type="button" name="LEFT" value="LEFT"/></td>
					<td><input class="btn btn-danger  btn-block" onClick="sendData('stop');"  type="button" name="STOP" value="STOP"/></td>
					<td><input class="btn btn-success  btn-block" onClick="sendData('right');"  type="button" name="RIGHT" value="RIGHT"/></td></tr>
					<tr><td>&nbsp;</td><td><input class="btn btn-success  btn-block" onClick="sendData('back');"  type="button" name="BACK" value="BACK"/></td><td>&nbsp;</td></tr>
				</table>

				<h3>Cam</h3>
				<table class="table table-condensed">
					<tr><td>&nbsp;</td><td><input class="btn btn-success btn-block" onClick="sendCamData('up');" type="button" name="UP" value="UP"/></td><td>&nbsp;</td></tr>
					<tr><td><input class="btn btn-success btn-block" onClick="sendCamData('left');" type="button" name="LEFT" value="LEFT"/></td>
					<td><input class="btn btn-danger btn-block" onClick="sendCamData('reset');" type="button" name="RESET" value="RESET"/></td>
					<td><input class="btn btn-success btn-block" onClick="sendCamData('right');" type="button" name="RIGHT" value="RIGHT"/></td></tr>
					<tr><td>&nbsp;</td><td><input class="btn btn-success btn-block" onClick="sendCamData('down');" type="button" name="DOWN" value="DOWN"/></td><td>&nbsp;</td></tr>
				</table>

				<h3>Utility</h3>
				<table class="table table-condensed">
					<tr><td><input class="btn btn-warning btn-block" onClick="sendSystemData('check');" type="button" name="CHECK" value="System check"/></td><td>&nbsp;</td></tr>
				</table>
				
				
			</form>

				<div class="table-responsive">
					<table class="table table-condensed table-bordered" id="myTable">
					<thead>
						<tr><td>Type</td><td>Date</td><td>Calling</td><td>Message</td><td>Error</td></tr>					</thead>
					<tbody>
					</tbody>
					</table>
				</div>

			</div>

		
		<div class="col-md-8">
			<img src="<%=config.web.cam%>/?action=stream" class="img-rounded"/>

				<form id="formMpu6050" class="form-inline" role="form" >
				<div class="row">
				  <div class="col-xs-2">
					<div class="form-group">
					  <label for="accx">Acc x</label>
					  <input type="text" class="form-control" id="accx" disabled/>					
					</div>
				  </div>
				  <div class="col-xs-2">
					<div class="form-group">
					  <label for="accy">Acc y</label>
					  <input type="text" class="form-control" id="accy" disabled/>					
					</div>
				 </div>
				  <div class="col-xs-2">
					<div class="form-group">
					  <label for="accz">Acc z</label>
					  <input type="text" class="form-control" id="accz" disabled/>					
					</div>
				 </div>
				  <div class="col-xs-2">
					<div class="form-group">
					  <label for="motx">Mot x</label>
					  <input type="text" class="form-control" id="motx" disabled/>					
					</div>

				 </div>
				  <div class="col-xs-2">
					<div class="form-group">
					  <label for="moty">Mot y</label>
					  <input type="text" class="form-control" id="moty" disabled/>					
					</div>
				  </div>	
				  <div class="col-xs-2">
					<div class="form-group">
					  <label for="motz">Mot z</label>
					  <input type="text" class="form-control" id="motz" disabled/>					
					</div>
	                         </div>
				</div>

				</form>

		</div>


  	</div>

    </div><!-- /.container -->

    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootbox.min.js"></script>
  
  </body>
</html>
